@media screen and (max-width: 1000px) {

    .slider {
        height: 20vh;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        display: none;
    }

    .become {
        align-self: center;
        position: relative;
        bottom: 18px;
    }

    .logo {
        justify-content: center;
        margin: 10px 0;
    }

    .login {
        justify-content: flex-end;
        position: relative;
        bottom: 67px;
        left: 18px;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 0 12px 0 22px;
    }

    .card-item img{ 
        width: 140px;
    }
}