@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Oswald&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Oswald:wght@300;400&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Open+Sans&family=Oswald:wght@300;400&family=Roboto:wght@100&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: var(--main-bg-color);
    font-family: 'Baloo Bhaijaan 2', cursive;
    position: sticky;
    top: 0%;
    /* width: 100%; */
}
nav{
    display: flex;   
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 99px;
    padding: 0 23px;
}
nav ul{
    height: 11vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    /* color: #991424; */
    font-weight: 900;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 28vw;
    height: 25px;
    border-radius: 4px;
    margin: 0 12px 0 50px;
    padding: 0px 12px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.search button{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.login{
    display: flex;
    align-items: center;
    margin: 0 30px;
    
}

.login button{
    width: 70px;
    height: 30px;
    background-color: white;
    color: var(--main-bg-color);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
}

.become{
    align-self: center;
    cursor: pointer;
}

.become p {
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 800;
    font-size: 17px;
}

main{
    min-height: calc(100vh - 58px - 12vh);
    /* background-color: antiquewhite; */
}
.slider{
    display: flex;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card{
    background-color: white;
    max-width: 95vw;
    margin: 10px auto;
}

.cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card h2{
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding-left: 12px;
}
.carditem{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 12vw;
    padding: 0 29px;
    cursor: pointer;
}
.carditem p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    line-height: 19px;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
}
.foot{
    height: 400px;
    background-color: #232f3e;
    font-family: 'Roboto', Arial, sans-serif;
}
.foot .list{
    height: 300px;
    box-sizing: border-box;
    padding-top: 35px;
    margin-right:40px;
    margin-left: 65px;
    display: flex;
}

.foot .list .litems{
    width: 130px;
    margin-right: 20px;
}

.foot .list .litems h1{
    font-size: 0.75rem;
    margin-bottom: 9px;
    color: #878787;
}

.foot .list .litems h1:hover{
    cursor: pointer;
    text-decoration: underline;
}

.foot .list .litems p{
    font-size: 0.75rem;
    color: white;
    line-height: 25px;
    text-align: left;
}

.foot .list .litems p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.foot .line{
    height: 120px;
    border-left: 1px solid #878787;
    margin: 0 10px;
}

.foot .cont{
    box-sizing: border-box;
    width: 283px;
    padding: 0 22px;
}

.foot .cont h1{
    font-size: 0.75rem;
    margin-bottom: 9px;
    color: #878787;
}

.foot .cont span{
    font-size: 0.75rem;
    color: white;
    line-height: 15px;
    text-align: left;
}

.foot .last{
    box-sizing: border-box;
    height: 73px;
    border-top: 1px solid #454d5e;
    margin-top: 25px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}


.foot .last{
    font-size: 0.85rem;
}

.foot .last .icon span{
    margin-left: 5px;
}